<!DOCTYPE html>

<!-- tag html - Demonstrar o conteúdo -->
<html lang="pt_br">
  <!-- Configurações da página-->
  <head>
    <meta charset="UTF-8">
    <!-- Configuração de linguagem -->
    <!-- Configuração para configurar a página de acordo com o usuário-->
    <meta name="viewport" content="width=device-widht, initial-scale=1.0">

    {% block title %}
      <title>Ecoleta</title>
    {% endblock title %}

    <!-- Importando fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700display=swap" rel="stylesheet">
    <!-- Importando estilo css-->
    <link rel="stylesheet" href="styles/main.css">

    {% block styles %}{% endblock styles %}

    <link rel="stylesheet" href="styles/responsive.css">
  </head>
  <!-- body -->
  <body>
    <div id="{{ bodyId }}">
      {% block content %}{% endblock content %}
    </div>
    {% block modal %}{% endblock modal %}

    {% block script %}{% endblock script %}
  </body>
</html>